@font-face {
	font-family: 'Gotham Regular';
	src: url('../fonts/Gotham-Light.eot');
	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Light.woff2') format('woff2'),
	url('../fonts/Gotham-Light.woff') format('woff'),
	url('../fonts/Gotham-Light.ttf') format('truetype'),
	url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Regular';
	src: url('../fonts/Gotham-Book.eot');
	src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Book.woff2') format('woff2'),
	url('../fonts/Gotham-Book.woff') format('woff'),
	url('../fonts/Gotham-Book.ttf') format('truetype'),
	url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Regular';
	src: url('../fonts/Gotham-Medium.eot');
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Medium.woff2') format('woff2'),
	url('../fonts/Gotham-Medium.woff') format('woff'),
	url('../fonts/Gotham-Medium.ttf') format('truetype'),
	url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Regular';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Bold.woff2') format('woff2'),
	url('../fonts/Gotham-Bold.woff') format('woff'),
	url('../fonts/Gotham-Bold.ttf') format('truetype'),
	url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Bold';
	src: url('../fonts/Gotham-Bold.eot');
	src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gotham-Bold.woff2') format('woff2'),
	url('../fonts/Gotham-Bold.woff') format('woff'),
	url('../fonts/Gotham-Bold.ttf') format('truetype'),
	url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Extra Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Extra Bold Condensed'), url('../fonts/Berthold-akzidenz-grotesk-be-extra-bold-condensed.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Condensed';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Condensed'), url('../fonts/Berthold-akzidenz-grotesk-be-condensed.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Extra Bold'), url('../fonts/Berthold-akzidenz-grotesk-be-extra-bold.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Regular';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Regular'), url('../fonts/Berthold-akzidenz-grotesk-be-regular.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Light';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Light'), url('../fonts/Berthold-akzidenz-grotesk-be-light.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Light Condensed'), url('../fonts/Berthold-akzidenz-grotesk-be-light-condensed.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Medium Condensed';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Medium Condensed'), url('../fonts/Berthold-akzidenz-grotesk-be-medium-condensed.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Medium';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Medium'), url('../fonts/Berthold-akzidenz-grotesk-be-medium.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Bold';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Bold'), url('../fonts/Berthold-akzidenz-grotesk-be-bold.woff') format('woff');
}

@font-face {
font-family: 'Berthold Akzidenz Grotesk BE Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Berthold Akzidenz Grotesk BE Bold Condensed'), url('../fonts/Akzidenz-grotesk-be-bold-condensed.woff') format('woff');
}
