.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: #3F3F3F;
}

.icon-Arrow {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Award {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Bag {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Book {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Cake {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Circle {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Circle-active {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Circle-minus {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Circle-plus {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Clock {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Discount {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Drink {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Facebook {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Favorite {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Flame {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Gift {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Google {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Ice-cream {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Map {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Money {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Pen {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Phone {
  font-size:(23/10)*1rem;
  width:(24/23)*1em;
}
.icon-Search {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Share {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Shopping-cart {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Smile {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Square-check {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Squarebox {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-Store {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-X-mark {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-chev-down {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
