.div-select-category-blog {
  span.select2 {
  	height: 48px !important;
		@include media-breakpoint-down(sm) {
			width: 100% !important;
		}
  }
  .select2-container .select2-selection--single {
  	height: 48px !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
  	line-height: 48px !important;
  }
  .select2-container--default .select2-selection--single {
  	border-color: #3F3F3F !important;
  }
}

.blog-template-header {
	display: flex;
	width: 100%;
	@include media-breakpoint-down(sm) {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		.cdl-heading {
			margin-bottom: 1rem;
		}
		.cdl-heading, .div-select-category-blog {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

select {
	option:checked, option:hover {
		color: white;
		background: $primary;
	}
}

.current-cat, #current-cat {
	background-color: transparent !important;
	color: $primary !important;
	a {
		color: $primary !important;
	}
}

.single-post {
	h1.entry-title {
		@include media-breakpoint-down(sm) {
			font-size: 34px;
			line-height: 32px;
		}
	}
	.btn_add_to_cart {
		width: auto !important;
		padding: 0 10px;
	}
}

.left_blog_sub h3 {
	@include media-breakpoint-down(sm) {
		font-size: 14px !important;
		line-height: 18px !important;
	}
}
